$color_primary: #ffff;
$color_secondary: darken($color_primary, 20%);
$font_color: #000;
$accent_color: #333    ;

$date_picker_border_type: solid;
$datepicker_border_width: 1px;
$datepicker_border_color: #333;

$day_height:40px;
$day_width:40px;