@use "_vairables";
.ng-datepicker{
  padding: 5px;
  position: fixed;
  border: vairables.$date_picker_border_type vairables.$datepicker_border_color vairables.$datepicker_border_width;
  min-height: 200px;
  background: vairables.$color_primary;

  color: vairables.$font_color;
  .month-days, .weekdays-header{

    display: grid;
    grid-template-columns: repeat(7, vairables.$day_width);

    .day{
      background: vairables.$color_secondary;
      color: vairables.$font_color;
      height: vairables.$day_height;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      border:none;
      &:hover{
          background: darken(vairables.$color_secondary,10%);
      }
      &:focus-visible {
        outline: solid vairables.$accent_color;
      }
      &.selected{
        background: vairables.$accent_color;
      }
      &:not(:nth-child(7n)){
        margin-right: 5px;
      }
      margin-bottom: 5px;
      &:not(.active){
        margin-bottom: 5px;
        border-radius: 0;
        background: none;
      }
    }
  }
  .weekdays-header{
    .day{
      margin-bottom: 5px;
      border-radius: 0;
      background: none;
    }
  }
  .year-display{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    button{
      &:focus-visible {
        outline: solid #F19C1A;
      }
      background: vairables.$color_secondary;
      color: vairables.$font_color;
      border:none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      height: 40px;
      width: 40px;
    }
  }
}